<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/global-style.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head> 
<body>
<div></div>
<div class="container">
<div class="content">
	<div class="jumbotron">
		<h2 style="color:red;">${exception}</h2>
		<p>Failed URL: ${url}</p>
		<p>    ${ste} 
		</p>
		<p><a class="btn btn-primary" href="/">Home</a></p>
	</div>
</div>
</div>
<footer></footer> 
</body>
</html>